.toggle-input {
    label {
      background: #d4e0e7;
      background: var(--toggle-off-background);
      width: 54px;
      width: var(--toggle-width);
      height: 24px;
      height: var(--toggle-height);
      display: flex;
      border-radius: 12px;
      border-radius: var(--toggle-radius);
      position: relative;
      cursor: pointer;
      transition: .3s background;
      transition: var(--toggle-speed) background;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding-left: 24px;
      padding-left: var(--toggle-height);
      padding-right: 6px;

      &:before {
        content: " ";
        background: #ffffff;
        background: var(--toggle-handle-color);
        width: 18px;
        width: var(--toggle-handle-size);
        height: 18px;
        height: var(--toggle-handle-size);
        border-radius: 50%;
        position: absolute;
        left: 3px;
        top: 3px;
        transition: .3s left;
        transition: var(--toggle-speed) left;
      }

      .toggle-on,
      .toggle-off {
        font-size: 13px;
        font-size: var(--toggle-font-size);
        text-align: center;
        font-weight: 500;
      }

      .toggle-on {
        display: none;
        color: #ffffff;
        color: var(--toggle-on-text-color);
      }

      .toggle-off {
        display: flex;
        color: #80878c;
        color: var(--toggle-off-text-color);
      }
    }

    input {
      display: none;

      &:checked + label {
        background: #41b883;
        background: var(--toggle-on-background);
        padding-right: 24px;
        padding-right: var(--toggle-height);
        padding-left: 6px;

        &:before {
          left: calc(100% - var(--toggle-handle-right-on));
        }

        .toggle-on {
          display: flex;
        }

        .toggle-off {
          display: none;
        }
      }

      &:disabled + label {
        background: #d4e0e7;
        background: var(--toggle-disabled-background);
        cursor: not-allowed;

        &:before {
          background: #f2faff;
          background: var(--toggle-disabled-handle-color);
        }

        .toggle-on,
        .toggle-off {
          color: #80878c;
          color: var(--toggle-disabled-text-color);
        }
      }
    }
  }